.container {
  padding: 120px 80px;
}

.wrapper {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form textarea {
  resize: none;
  height: 80px;
}

.paymentBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payBtn {
  margin-top: 20px;
  padding: 12px;
  background: #be123c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.payBtn:hover {
  background: black;
}

.summary {
  flex: 1;
  background: #f9fafb;
  padding: 25px;
  border-radius: 12px;
  height: fit-content;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
