.container {
  padding: 120px 80px;
  background: #f9fafb;
  min-height: 100vh;
}

.heading {
  font-size: 28px;
  margin-bottom: 30px;
}

/* 2 COLUMN GRID */
.layout {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
}

/* LEFT FORM */
.formCard {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 14px;
}

.input:focus {
  border-color: #be123c;
  outline: none;
}

.payBtn {
  width: 100%;
  padding: 14px;
  background: #be123c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.payBtn:hover {
  background: black;
}

/* RIGHT SUMMARY */
.summaryCard {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  height: fit-content;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 14px;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}