.container {
  padding-top: 120px;
  display: flex;
  flex-direction:column ;
  justify-content: center;
}
.logbtn{
  width: 10%;

  margin: auto;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  width: 350px;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.logout {
  margin-top: 20px;
  padding: 10px 20px;
  background: #be123c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}