.section {
  padding: 80px 60px;
  background: #fff5f7;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* CARD */
.card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.imageBox img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content h4 {
  font-size: 15px;
  margin-bottom: 10px;
  min-height: 40px;
}

.rating {
  font-size: 13px;
  margin-bottom: 8px;
  color: #f59e0b;
}

.price {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
}

.btn {
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #be123c;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: black;
}

/* PRODUCT RESPONSIVE */

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .section {
    padding: 60px 40px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .imageBox img {
    height: 220px;
  }
}

@media (max-width: 500px) {
  .section {
    padding: 50px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .imageBox img {
    height: 200px;
  }

  .heading {
    font-size: 22px;
  }
}