.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.popup button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #be123c;
  color: white;
}

.google {
  background: #4285f4;
}

.close {
  background: gray;
}
