.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  padding: 100px 80px;

  background: linear-gradient(
    135deg,
    #7f5af0,
    #c084fc,
    #f472b6
  );

  color: white;
}

/* LEFT VIDEO */
.videoContainer {
  flex: 1;
  max-width: 600px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* RIGHT CONTENT */
.content {
  flex: 1;
  max-width: 500px;
}

.subtitle {
  letter-spacing: 3px;
    font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.btn {
  padding: 10px 30px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

/* Responsive */
@media (max-width: 1000px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .video {
    height: 400px;
  }
}
