*{
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  letter-spacing: 1px;
}

.menu a.active {
  color: #be123c;
  font-weight: 600;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.cart {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #ff4d6d;
  color: white;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
}