.section {
  padding: 80px 60px;
  background: #ffffff;
  text-align: center;
}

.heading {
  font-size: 28px;
  margin-bottom: 50px;
}

/* 4 items in one row */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Card Design */
.card {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.card h4 {
  margin: 15px 0 5px;
}

.card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.card button {
  padding: 6px 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
}

.card button:hover {
  background: #ff4d6d;
}

/* Responsive */
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}